<div class="container mt-4">
    <p class="heading">Registro</p>
    <div class="box">
        <p>Usuario</p>
        <div>
            <input type="text" name="" id="" placeholder="Usuario">
        </div>
    </div>
    <div class="box">
        <p>Edad</p>
        <div>
            <input type="number" name="" id="" placeholder="Edad">
        </div>
    </div>
    <div class="box">
        <p>Puesto</p>
            <select name="" id="" placeholder="Puesto">
                <option value="Salon">Mozo</option>
                <option value="Cocina">Cocinero</option>
                <option value="Caja">Cajero</option>
                <option value="Administracion">Administrador</option>
            </select>
    </div>
    
    <div class="box">
        <p>Telefono</p>
        <div>
            <input type="number" name="" id="" placeholder="Telefono">
        </div>
    </div>
    <div class="box">
        <p>Contraseña</p>
        <div>
            <input type="password" name="" id="" placeholder="Contraseña">
        </div>
    </div>
    <button class="loginBtn btn-danger">Registrar</button>
</div>

