<div class="container">
    <div class="row mt-5">

        <div class="card col-8 mx-auto order">
            <h4 class="card-title mx-auto mt-3">{{numberTable}}</h4>
            <span class="aux"></span>
            <div class="card-body pl-0 pr-0">
                <span class="food">
                    <h4 class="col-6">Milanesa completa</h4>
                    <h4 class="col-6 price">$1000</h4>
                </span>
                <span class="food">
                    <h4 class="col-6">Coca-Cola 1.5l</h4>
                    <h4 class="col-6 price">$500</h4>
                </span>
                <span class="food">
                    <h4 class="col-6">Papas fritas</h4>
                    <h4 class="col-6 price">$1260</h4>
                </span>
                <span class="food">
                    <h4 class="col-6">Chocolina</h4>
                    <h4 class="col-6 price">$750</h4>
                </span>
                <span class="food">
                    <h4 class="col-6">Agua 1l</h4>
                    <h4 class="col-6 price">$700</h4>
                </span>

            </div>
            <span class="aux"></span>
            <div class="card-body pl-0 pr-0">
                <span class="food">
                    <h4 class="col-6">Total</h4>
                    <h4 class="col-6 price">$4210</h4>
                </span>
            </div>
        </div>

    </div>

    <div class="row">
        <button class="buttonCategory col-10 mx-auto mb-4 fixed-bottom btn" (click)="addFood()">Agregar Comida</button>
    </div>
</div>