*{
    color: black;
}

.container-fluid h3{
    margin: 15px 0px 25px 0px;
    padding: 10px;
    background: linear-gradient(#ff416c, #ff4b2b);
}
.btn-primary{
    margin-bottom: 15px; 
    border-style: none;
    background: linear-gradient(#ff416c, #ff4b2b)!important;
}

h3 {
    text-align: center;
}
