<table class="table table-hover w-auto m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Puesto</th>
        <th scope="col">Quitar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Marcos</td>
        <td>Kruppa</td>
        <td>Cocinero</td>
        <td><a class="Btn btn-danger">X</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Tomas</td>
        <td>Reinhardt</td>
        <td>Administrador</td>
        <td><a class="Btn btn-danger">X</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nicolas</td>
        <td>Rosario</td>
        <td>Mozo</td>
        <td><a class="Btn btn-danger">X</a></td>
      </tr>
    </tbody>
  </table>